@import "tailwindcss";
@import "./assets/fonts/notosans/fonts.css";

* {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  width: 100%;
  height: 100%;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color: #272525;
  --primary-color: #ff5733;
  --card-background-color: #383838;
  --background-gray-color: #666666;
  --background-teal-color: #009688;
  --text-disabled-color: #666666;
  --background-disabled-color: #383838;
  --danger-color: #ff3b30;
  --success-color: #34c759;
  --tag-color: #32ade6;
  --dark-blue-color: #1a73e8;
  --background-dark-blue-color: #33435b;
  --breadcrumb-color: #757575;
  --border-color: #6e6e6e80;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #262626;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Wrap classes tailwind */
@layer base {
  .text-home-label-base {
    @apply !text-white !text-[16px] !font-bold !font-['Noto_Sans_JP'] !text-center;
  }
  .font-family-base {
    @apply !font-['Noto_Sans_JP'];
  }
  .text-base-primary {
    @apply !text-[var(--primary-color)] !text-[16px] !font-['Noto_Sans_JP'] !leading-[1.2em];
  }
  .text-base-white {
    @apply !text-white !text-[16px] !font-['Noto_Sans_JP'] !leading-[1.2em];
  }
  .text-sm-white {
    @apply !text-white !text-[14px] !font-['Noto_Sans_JP'] !leading-[1.2em];
  }
  .text-xs-white {
    @apply !text-white !text-[12px] !font-['Noto_Sans_JP'] !leading-[1.2em];
  }
  .text-sm-success {
    @apply !text-[var(--success-color)] !text-[14px] !font-['Noto_Sans_JP'] !leading-[1.2em];
  }
  .text-xs-success {
    @apply !text-[var(--success-color)] !text-[12px] !font-['Noto_Sans_JP'] !leading-[1.2em];
  }
  .button-disabled {
    @apply !bg-[var(--background-disabled-color)] !text-[var(--text-disabled-color)] !cursor-not-allowed;
  }
  .button-disabled * {
    @apply !text-[var(--text-disabled-color)];
  }
  .flex-row-center {
    @apply !flex !items-center !justify-center;
  }
  .flex-col-center {
    @apply !flex !flex-col !items-center !justify-center;
  }
  .flex-row-between {
    @apply !flex !items-center !justify-between;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    @apply hidden;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Scrollbar primary */
  .scrollbar-primary::-webkit-scrollbar {
    @apply !w-1 !h-1;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    @apply bg-[var(--primary-color)] rounded-[50px];
  }
  .scrollbar-primary::-webkit-scrollbar-track {
    @apply bg-[var(--background-color)] rounded-[50px];
  }

  .word-break {
    word-break: break-word !important;
  }

  .base-icon-size {
    @apply !w-5 !h-5 !min-w-5 !min-h-5 !flex-shrink-0;
  }
}

@layer utilities {
  @keyframes spin-reverse {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .animate-spin-reverse {
    animation: spin-reverse 1s linear infinite;
  }

  .form-item-error-explanation {
    @apply !m-0 [&_.ant-form-item-explain-error]:!text-[12px] [&_.ant-form-item-explain]:!mt-1;
  }

  .based-input-text {
    @apply !text-[14px] !bg-[var(--background-color)] !h-12 !border-[1px] !border-white !rounded-xl !text-white !py-3 !px-[11px];
  }

  .based-input-text-card {
    @apply !text-[14px] !bg-[var(--card-background-color)] !h-10 !border-none !rounded-xl !text-white !py-2.5 !px-4;
  }

  .textarea-dynamic {
    @apply !text-[14px] !bg-[var(--background-color)] !border-[1px] !rounded-xl !text-white !py-3 !px-[11px] !resize-none !font-['Noto_Sans_JP'];
  }

  .input-center-custom {
    @apply !bg-[var(--background-color)] !border-[1px] !border-white !rounded-xl !text-white !py-3 !px-4 !text-center placeholder:!text-white !h-10 !font-['Noto_Sans_JP'] !text-[14px] !leading-[1.2em];
  }

  .multiple-select-custom {
    @apply flex-1 w-full [&_.ant-select-selection-item]:!bg-[#383838] [&_.ant-select-selection-item-content]:!leading-[1.2em] [&_.ant-select-selection-wrap]:h-full [&_.ant-select-selection-overflow-item]:!text-white [&_.ant-select-selection-overflow-item]:!h-[26px] [&_.ant-select-selection-overflow-item]:!min-h-[26px] [&_.ant-select-selection-overflow-item]:!m-0 [&_.ant-select-selection-overflow-item]:!text-[12px] [&_.ant-select-selection-overflow-item_.ant-select-selection-item-remove]:!text-white;
  }

  /* Custom select transparent */
  .custom-select-transparent {
    @apply !h-10 !bg-transparent !outline-none !border-none !shadow-none !w-10;
  }
  .custom-select-transparent .ant-select-selector {
    @apply !h-10 !bg-transparent !outline-none !border-none !shadow-none !px-0 !py-2 !font-bold !text-sm !flex !items-center !justify-center;
  }
  .custom-select-transparent .ant-select-selector .ant-select-selection-item {
    @apply !text-white !text-sm !font-bold !text-center !flex !items-center !justify-center;
  }
  .custom-select-transparent .ant-select-arrow {
    @apply !text-white !text-xs;
  }
  .custom-select-transparent:hover .ant-select-selector {
    @apply !bg-transparent !border-none;
  }
  .custom-select-transparent:focus .ant-select-selector {
    @apply !bg-transparent !border-none !shadow-none;
  }
  .custom-select-transparent.ant-select-focused .ant-select-selector {
    @apply !bg-transparent !border-none !shadow-none;
  }

  /* Custom select dark blue */
  .custom-select-dark-blue {
    @apply !bg-[var(--background-dark-blue-color)] !border-none !rounded-lg !shadow-none !h-10 !w-10;
  }
  .custom-select-dark-blue .ant-select-selector {
    @apply !bg-[var(--background-dark-blue-color)] !border-none !rounded-lg !h-10 !w-10 !shadow-none !px-0 !py-2 !flex !items-center !justify-center;
  }
  .custom-select-dark-blue .ant-select-selector .ant-select-selection-item {
    @apply !text-white !text-sm !font-medium !text-center !flex !items-center !justify-center;
  }
  .custom-select-dark-blue .ant-select-arrow {
    @apply !text-white !text-xs;
  }
  .custom-select-dark-blue .ant-select-selector:hover {
    @apply !bg-[var(--background-dark-blue-color)] !border-none;
  }
  .custom-select-dark-blue .ant-select-selector:focus {
    @apply !bg-[var(--background-dark-blue-color)] !border-none !shadow-none;
  }
  .custom-select-dark-blue .ant-select-selector.ant-select-focused {
    @apply !bg-[var(--background-dark-blue-color)] !border-none !shadow-none;
  }
}

/* CSS cho form item select middle */
.form-item-select-middle .custom-select .ant-select-selector {
  height: 32px !important;
  border-radius: 6px !important;
  padding: 0 12px !important;
  font-size: 12px !important;
}
.form-item-select-middle .custom-select .ant-select-selector input {
  font-size: 12px !important;
  text-align: center !important;
}
.form-item-select-middle .ant-form-item-control-input-content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.form-item-select-middle
  .custom-select
  .ant-select-selector
  .ant-select-selection-placeholder,
.form-item-select-middle
  .custom-select
  .ant-select-selector
  .ant-select-selection-item {
  justify-content: center !important;
  line-height: 1.2em !important;
  padding-inline-end: 22px !important;
}
.form-item-select-middle
  .dark-select.ant-select.ant-select-disabled
  .ant-select-selector,
.form-item-disabled
  .dark-select.ant-select.ant-select-disabled
  .ant-select-selector {
  background-color: var(--background-disabled-color) !important;
}
.form-item-select-middle
  .dark-select.ant-select.ant-select-disabled
  .ant-select-selector
  .ant-select-selection-item,
.form-item-select-middle
  .dark-select.ant-select.ant-select-disabled
  .ant-select-arrow,
.form-item-disabled
  .dark-select.ant-select.ant-select-disabled
  .ant-select-selector
  .ant-select-selection-item,
.form-item-disabled
  .dark-select.ant-select.ant-select-disabled
  .ant-select-arrow {
  color: var(--text-disabled-color) !important;
}
.form-item-select-middle .dark-select.ant-select .ant-select-selector {
  background-color: #666666 !important;
  border-width: 0px !important;
  outline-width: 0px !important;
}
.form-item-select-middle
  .dark-select
  .ant-select-selector
  .ant-select-selection-placeholder {
  color: #aaaaaa !important;
}

/* CSS form item horizontal */
.form-item-horizontal .ant-form-item-label {
  @apply !flex-initial;
}
.form-item-horizontal .ant-form-item-control {
  @apply !flex-1;
}

/* Css custom receipt table */
.custom-receipt-table .ant-table-thead > tr > th::before {
  display: none !important;
}
.custom-receipt-table .ant-table {
  @apply !bg-[var(--card-background-color)] !transition-colors !duration-200 !ease-in-out;
}
.custom-receipt-table .ant-table-thead > tr > th,
.custom-receipt-table .ant-table-tbody > tr > td {
  @apply !p-1 !rounded-none !text-white !border-none !bg-[var(--card-background-color)] !transition-colors !duration-200 !ease-in-out;
}
.custom-receipt-table .ant-table-tbody .ant-empty-description {
  @apply !text-white;
}

/* Group hover styles for custom receipt table */
.group:hover .custom-receipt-table .ant-table {
  @apply !bg-[#404040];
}
.group:hover .custom-receipt-table .ant-table-thead > tr > th,
.group:hover .custom-receipt-table .ant-table-tbody > tr > td {
  @apply !bg-[#404040];
}

/* Css base radio */
.custom-base-radio .ant-radio-button-wrapper {
  @apply !bg-transparent;
}
.cuscustom-base-radio .ant-radio-button-wrapper::before {
  display: none !important;
}
.custom-base-radio .ant-radio-button-wrapper .ant-radio-button-label {
  @apply !w-full !flex !items-center !justify-between;
}

/* Css custom payment method radio*/
.custom-payment-radio
  .ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  @apply !bg-[var(--primary-color)];
}

/* Css custom time picker */
.time-picker-custom.ant-picker {
  @apply !w-full !bg-[var(--background-color)] !border-[1px] !border-white !rounded-xl !text-white !h-10 !px-3 !text-center;
}
.time-picker-custom.ant-picker .ant-picker-input input {
  @apply !text-white !h-10 !text-center !w-full placeholder:!text-white;
}
.time-picker-custom.ant-picker .ant-picker-clear svg {
  @apply !text-white !text-base;
}
.time-picker-custom-popup .ant-picker-panel .ant-picker-time-panel-column {
  max-height: 220px !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}
.time-picker-custom-popup .ant-picker-panel-container .ant-picker-content {
  min-width: 120px !important;
  width: 150px !important;
}
.time-picker-custom-popup .ant-picker-content .ant-picker-time-panel-cell {
  @apply !flex !items-center !justify-center !text-center;
}
.time-picker-custom-popup
  .ant-picker-content
  .ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner {
  @apply !w-full !p-0;
}

/* Css custom danger checkbox */
.checkbox-danger-custom .ant-checkbox .ant-checkbox-inner {
  @apply !bg-transparent !border-[var(--danger-color)] !w-[18px] !h-[18px];
}
.checkbox-danger-custom .ant-checkbox-checked .ant-checkbox-inner {
  @apply !bg-white !border-white;
}
.checkbox-danger-custom .ant-checkbox-checked .ant-checkbox-inner::after {
  @apply !bg-white !border-[var(--danger-color)] !start-[26%] !top-[45%] !h-[12px];
}

/* Css custom based checkbox */
.checkbox-base-custom .ant-checkbox .ant-checkbox-inner {
  @apply !bg-transparent !border-white !w-[18px] !h-[18px];
}
.checkbox-base-custom .ant-checkbox-checked .ant-checkbox-inner {
  @apply !bg-white !border-white;
}
.checkbox-base-custom.ant-checkbox-wrapper-disabled
  .ant-checkbox-disabled
  .ant-checkbox-inner {
  @apply !bg-transparent !border-[var(--text-disabled-color)];
}
.checkbox-base-custom .ant-checkbox-checked .ant-checkbox-inner::after {
  @apply !bg-white !border-[var(--background-color)] !start-[25%] !top-[45%] !h-[11px] !w-[6px];
}
.checkbox-base-custom.ant-checkbox-wrapper-disabled
  .ant-checkbox-disabled
  .ant-checkbox-inner::after {
  @apply !hidden;
}

/* Css custom timepicker*/
.custom-timepicker-input {
  @apply !shadow-none !w-full !bg-[var(--background-color)] !h-[48px] !border-[1px] !border-white !rounded-[12px] !text-white;
}
.custom-timepicker-input.ant-picker .ant-picker-input input {
  @apply !text-white !h-[48px] !text-center !w-full !border-none !outline-none !bg-transparent !shadow-none placeholder:!text-[var(--text-disabled-color)];
}
.custom-timepicker-input.ant-picker.ant-picker-range .ant-picker-suffix {
  @apply !opacity-100;
}
.custom-timepicker-input.ant-picker.ant-picker-range .ant-picker-clear {
  @apply !opacity-0 !hidden;
}
.custom-timepicker-input.ant-picker .ant-picker-active-bar {
  @apply !hidden;
}

/* Css custom popup scrollbar */
.custom-select-scroll {
  border-color: var(--border-color) !important;
}
.custom-select-scroll
  .rc-virtual-list
  .rc-virtual-list-scrollbar
  .rc-virtual-list-scrollbar-thumb {
  background-color: #ffffff !important;
}

/* Css custom date picker */
.custom-datepicker.ant-picker {
  @apply !w-full !bg-transparent !border-[1px] !border-white !rounded-[6px] !text-white !h-8 !px-0 !text-center !shadow-none;
}
.custom-datepicker.ant-picker .ant-picker-input input {
  @apply !text-[12px] !font-['Noto_Sans_JP'] !leading-[1.2em] !text-white !h-8 !text-center !w-full placeholder:!text-white;
}
.custom-datepicker.ant-picker .ant-picker-range-separator svg {
  @apply !text-white;
}
.custom-datepicker.ant-picker .ant-picker-active-bar {
  @apply !hidden;
}
.custom-datepicker.ant-picker.ant-picker-range .ant-picker-clear svg {
  @apply !text-white !text-base;
}

.custom-datepicker-popup {
  transform: translate(calc(-25%), calc(50% + 20px)) !important;
  inset: unset !important;
}

/* Checkbox disabled */
.checkbox-disabled.ant-checkbox-wrapper-disabled
  .ant-checkbox-disabled
  .ant-checkbox-inner {
  @apply !border-[var(--background-color)] !bg-[var(--background-color)];
}

.checkbox-disabled.ant-checkbox-wrapper-disabled
  .ant-checkbox-disabled
  .ant-checkbox-inner::after {
  @apply !block !border-white !bg-transparent;
}

/* Css custom slider */
.slider-primary-custom.ant-slider {
  @apply !h-3.5;
}
.slider-primary-custom .ant-slider-track {
  @apply !bg-[var(--primary-color)];
}
.slider-primary-custom .ant-slider-rail {
  @apply !bg-[#EEF1F4];
}
.slider-primary-custom .ant-slider-handle {
  @apply !bg-white !border-[var(--primary-color)] !h-3 !w-3 !rounded-full;
  inset-block-start: 0px !important;
}
.slider-primary-custom .ant-slider-handle::after {
  @apply !h-3.5 !w-3.5 !rounded-full;
  box-shadow: 0px 0px 0px 3.5px var(--primary-color) !important;
}
.slider-primary-custom.ant-slider:hover .ant-slider-handle::after,
.slider-primary-custom.ant-slider .ant-slider-handle:focus::after {
  outline: none !important;
  inset-block-start: 0px !important;
  inset-inline-start: 0px !important;
}

/* Article content */
.article-content p,
.article-content h2 {
  margin: 0;
}

.article-content p {
  @apply !my-1;
}

.article-content h2 {
  @apply !font-bold !my-1;
}

/* Css custom base breadcrumb */
.base-breadcrumb * {
  @apply !text-xs !text-[var(--breadcrumb-color)] !font-['Noto_Sans_JP'] !leading-[1.2em];
}

.base-breadcrumb .ant-breadcrumb-link a {
  @apply !h-auto;
}

/* Css custom switch primary */
.switch-primary-custom.ant-switch {
  @apply !h-4 !min-w-8 !w-8 !border-none !outline-none;
}
.switch-primary-custom.ant-switch .ant-switch-inner {
  @apply !h-4;
}
.switch-primary-custom.ant-switch .ant-switch-handle {
  @apply !h-2 !w-2 !top-[4px];
  inset-inline-start: 5px !important;
}
.switch-primary-custom.ant-switch.ant-switch-checked .ant-switch-handle {
  inset-inline-start: calc(100% - 12px) !important;
}
.switch-primary-custom.ant-switch.ant-switch-checked {
  @apply !bg-[var(--primary-color)];
  box-shadow: none !important;
}
.switch-primary-custom.ant-switch:not(.ant-switch-checked) {
  @apply !bg-transparent;
  box-shadow: 0 0 0 2px white inset !important;
}

/* Css custom question checkbox */
.custom-question-checkbox .ant-checkbox-inner {
  @apply !w-5 !h-5 !bg-white !border-2 !border-[var(--card-background-color)] !rounded;
}
.custom-question-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  @apply !bg-white !border-[var(--card-background-color)];
}
.custom-question-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  @apply !border-[var(--card-background-color)] !start-[25%] !top-[45%] !h-[11px] !w-[6px];
}
.custom-question-checkbox {
  @apply !mt-[10px];
}

/* Css custom edit mode checkbox */
.checkbox-edit-mode .ant-checkbox-inner {
  @apply !w-5 !h-5 !bg-white !border-[2px] !border-[var(--card-background-color)] !rounded;
}
.checkbox-edit-mode .ant-checkbox-checked .ant-checkbox-inner {
  @apply !bg-[var(--primary-color)] !border-[var(--primary-color)];
}
.checkbox-edit-mode .ant-checkbox-checked .ant-checkbox-inner::after {
  @apply !border-white !start-[25%] !top-[45%] !h-[11px] !w-[6px];
}
.checkbox-edit-mode.ant-checkbox-wrapper-disabled
  .ant-checkbox-disabled
  .ant-checkbox-inner {
  @apply !bg-[var(--breadcrumb-color)];
}
