.Toastify__toast-container {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.Toastify__toast {
  width: 80dvw;
  max-width: 400px;
  min-height: 48px;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 12px !important;
}
