version: '3.8'

services:
  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"

  localstack:
    image: localstack/localstack:latest
    environment:
      - SERVICES=s3,lambda,apigateway,cloudformation,ssm,logs,iam,sqs
      - DEBUG=1
      # - DATA_DIR=/tmp/localstack/data
      - AWS_DEFAULT_REGION=ap-northeast-1
      - EDGE_PORT=4566
      - DOCKER_HOST=unix:///var/run/docker.sock
      - LAMBDA_EXECUTOR=local
      - SKIP_SSL_CERT_DOWNLOAD=1
      - DISABLE_CORS_CHECKS=1
      - DISABLE_CUSTOM_CORS_APIGATEWAY=1
      - LOCALSTACK_PERSISTENCE=1
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    volumes:
      - localstack-data:/var/lib/localstack
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/health"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  localstack-data:
    name: omochi-localstack-data